<header class="site-header px2 px-responsive">
	<div style="padding-top: 2rem;" class="wrap">
		<div class="measure">
			<a href="{{ site.url }}" class="site-title">
				<div id="molview-logo-wrapper">
					<img id="molview-logo" alt="" src="{{ "/img/logo.png" | prepend: site.baseurl }}" />
					<div id="molview-logo-glare"></div>
				</div>
				<img id="molview-mark" alt="MolView" src="{{ "/img/mark.png"" | prepend: site.baseurl }}" />
			</a>
			<div class="clearfix"></div>
		</div>
	</div>
</header>
