<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">
          <img style="height: 128px; vertical-align: middle;" alt="" src="/img/logo.png" />
          <img style="height: 60px; margin: 10px; vertical-align: middle;" alt="MolView" src="/img/mark.png" />
      </a>
      <nav class="site-nav right">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
